
.text-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.text-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333;
  opacity: 0; 
  animation: fadeInOut 5s infinite; 
}

@keyframes fadeInOut{
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}