  /* Style for the navigation menu */
  
  body{
    background-color: #222;
  }


.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: cursive;
  max-width: 400px;
  margin: auto;
}
.nav-link{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  position: relative;
  transition: color .3 ease;
}

.nav-link::before{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform .3s ease;
}
.nav-link:hover{
  color: #ffcc00;
}
.nav-link:hover::before{
  transform: scaleX(1);
}