body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    font-size: 8px;
}
p {
    color: #555;
    font-size: 6px;
}



input [type="number"]{
    padding: 5px;
    font-size: 10px;
    width: 100px;
    margin-top: 10px;
}
button{
    padding: 10px 20px;
    font-size: 5px;
    background-color: orange;
    color: #fff;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}
button:hover{
    background-color: orangered;
}
#message{
    margin-top: 15px;
    font-size: 7px;
    color: #222;
}