
h2{
    text-align: center;
    font-size: 10px;
}
#task-manager{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
input {
    border-radius: 20px;
    padding: 4px;
    outline: none;
    border: none;
}
button{
    background-color: orangered;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 20px;
    padding: 4px;
    font-size: 6px;
}
